@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,500&family=Oswald:wght@600&display=swap");


   body{
    background: rgb(0, 0, 112);
    max-width: fit-content;
   
    margin:auto;
    
    background-attachment: fixed;
    background-position: center;
    font-family: 'Josefin Sans', sans-serif;
    
    font-size: large;
    color: rgb(128, 128, 128);
    font-weight: bold;
    
    
  }

 .title{
   text-align:center;
   font-family: 'Josefin Sans', sans-serif;
   font-size: larger;
   color: blanchedalmond;
  
  }

  #cars-container {
    color: grey; 
  }

  li {
    
    float: left;
    padding-left:60px;
    margin-top: 50px;
    text-align:center;
    list-style: none;
    font-weight: bold;
    color: rgb(111, 191, 194);

  }

  #car-form-container {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 100%;
    border: 3px solid #8AC007;
    text-align:center;
    background-color: lightblue;
    padding-bottom: 1%;
   
  }

  #category-form-container{
    position: fixed;
    right: 700px;
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(223, 176, 176);
  }

  #delete-bttn{
    font-family: 'Times New Roman', Times, serif;
  }


  

  .img-cars{
    text-align:center;
    background-color: lightblue;
  }
