@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');


   body{
    background: lightblue;
    font-family: 'Oswald', sans-serif;
    font-size: large;
    color: grey;
   }

 .title{
   text-align:center; 
   
  }

  #cars-container {
    color: grey; 
  }

  li {
    float: left;
    padding-left:150px;
    margin-top: 50px;
    text-align:center;
    list-style: none;
    
  }

  #car-form-container {
    position: absolute;
    right: 400px;
    width: 50%;
    bottom: 20px;
    border: 3px solid #8AC007;
    text-align:center;
    
  }

  #category-form-container{
    position: absolute;
    right: 700px;
  

  }

